.landing-background{
  background: url('images/drums.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 700px;
  border-bottom-style: none;
}

.landing-background-headphone-icon{
  padding-top: 45%;
  padding-left: 0px;
  padding-right: 60px;
  font-size: xx-large;
  color: green;
}

.landing-background-upload-icon{
  padding-top: 45%;
  padding-left: 0px;
  padding-right: 60px;
  font-size: xx-large;
  color: green;
}

.landing-background-profile-icon{
  padding-top: 45%;
  padding-left: 0px;
  padding-right: 60px;
  font-size: xx-large;
  color: green;
}

.landing-background-discovered-icon{
  padding-top: 45%;
  padding-left: 0px;
  padding-right: 60px;
  font-size: xx-large;
  color: green;
}


